*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #303030;
    font-family: 'Roboto', 'Noto', sans-serif;
}

html {
    min-height: 100%;
}

body {
    background-color: #fff;
    background-repeat: repeat;
    margin: 0;
    text-align: center;
    min-height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: #303030;
}

h1 {
    color: #eeeeee;
    font-weight: 100;
    font-size: 2.5em;
}

h1 strong {
    color: #eeeeee;
    font-weight: 400;
}

h2 {
    font-size: 3em;
    font-weight: 300;
}

h3 {
    font-size: 1.7em;
    font-weight: 300;
}

h4 {
    font-size: 1.4em;
    font-weight: 400;
}

p {
    font-weight: 400;
}

canvas {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.main-card {
    width: 100%;
    max-width: 1280px;
    font-size: 1.05em;
    padding: 20px 0px;
}

.header {
    width: 100%;
    height: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

.header-index {
    background: linear-gradient( rgba(33, 150, 244, 0.7), rgba(33, 150, 244, 0.7)), url(../images/backgrounds/witcher1.jpg);
    background-size: cover;
}

.header-contact {
    background: linear-gradient( rgba(33, 150, 244, 0.7), rgba(33, 150, 244, 0.7)), url(../images/backgrounds/witcher2.jpg);
    background-size: cover;
}

.header-events {
    background: linear-gradient( rgba(33, 150, 244, 0.7), rgba(33, 150, 244, 0.7)), url(../images/backgrounds/witcher3.jpg);
    background-size: cover;
}

.header-interests {
    background: linear-gradient( rgba(33, 150, 244, 0.7), rgba(33, 150, 244, 0.7)), url(../images/backgrounds/witcher4.jpg);
    background-size: cover;
}

.header-projects {
    background: linear-gradient( rgba(33, 150, 244, 0.7), rgba(33, 150, 244, 0.7)), url(../images/backgrounds/witcher5.jpg);
    background-size: cover;
}

.header-skills {
    background: linear-gradient( rgba(33, 150, 244, 0.7), rgba(33, 150, 244, 0.7)), url(../images/backgrounds/witcher6.jpg);
    background-size: cover;
}

.nav {
    height: 50px;
    width: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    margin: 0;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    overflow: hidden;
}

.nav-solid {
    background-color: #2196f3;
}

.nav a {
    height: 100%;
    padding: 20px;
    color: #eeeeee;
    font-size: 1.4em;
    font-weight: 300;
}

.nav a:hover {
    color: #8fcbfb;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.flex-row ul li {
    list-style-type: none;
    text-align: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.circle-img img {
    border-radius: 50%;
}

.card {
    padding: 20px;
    border-radius: 2px;
    font-size: 1.05em;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.card h2 {
    font-size: 1.75em;
}

.card ul {
    text-align: left;
}

.card-3 {
    width: 31%;
    margin-top: 20px;
    margin-bottom: 40px;
    min-height: 200px;
}

.button-blue {
    max-width: 200px;
    padding: 10px;
    margin: 20px auto;
    border-radius: 3px;
    background-color: #2196f3;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.5s cubic-bezier(.25, .8, .25, 1);
    font-size: 1.05em;
    color: #fff;
}

.button-blue:hover {
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.25), 0 5px 6px rgba(0, 0, 0, 0.22);
    cursor: pointer;
}

.index-cards>.card-3>.card-content {
    height: 150px;
}

.card-actions {
    height: 50px;
}

.footer {
    width: 100%;
    background-color: #2196f3;
    line-height: 1.8em;
    margin-bottom: 0;
    margin-top: 0;
    color: #eee;
}

.secondary-card {
    max-width: none;
    background-color: #eee;
    width: 100%;
}

.card-single {
    padding: 50px 0px;
    width: 100%;
}

.event {
    max-width: 1000px;
}

.interest-card {
    padding: 0;
    margin: 20px;
    max-width: 400px;
    max-height: 400px;
}

.card-actions>.button-blue {
    line-height: 4em;
}

.projects>.flex-row>.card>.card-content {
    height: 250px;
}

.interests {
    background-color: #fff;
}

.interests>.flex-row>.card>.card-content {
    height: 100px;
}

.contacts>a img {
    max-width: 200px;
    max-height: 200px;
}

.full {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.canvas-page {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 1em;
}

.canvas-header {
    font-size: 1em;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(33, 150, 244, 0.7);
    height: 100%;
}

.canvas-header h1 {
    font-size: 5em;
}

.canvas-header nav {
    background-color: transparent;
}

.canvas-footer {
    font-size: 1em;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: transparent;
}

#lang_section {
    display: none;
}

#lang_section .card {
    min-height: 300px;
}


/*small screens*/

@media all and (max-width: 800px) {
    .header {
        height: 300px;
        background: none;
        background-color: #2196f3;
    }
    .canvas-header {
        font-size: 1em;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(33, 150, 244, 0.7);
        height: 100%;
    }
    .nav {
        flex-direction: column;
        position: relative;
        height: auto;
        padding: 0;
        background-color: #2196f3;
    }
    .nav a {
        border-bottom: 1px solid #bbb;
    }
    .flex-row {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card-3 {
        width: 98%;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    video {
        width: 100%;
    }
}

.cursor {
    font-weight: 400;
    color: #eee;
}

.blinking-cursor {
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}

@keyframes "blink" {
    from, to {
        color: transparent;
    }
    50% {
        color: #eee;
    }
}

@-moz-keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: #eee;
    }
}

@-webkit-keyframes "blink" {
    from, to {
        color: transparent;
    }
    50% {
        color: #eee;
    }
}

@-ms-keyframes "blink" {
    from, to {
        color: transparent;
    }
    50% {
        color: #eee;
    }
}

@-o-keyframes "blink" {
    from, to {
        color: transparent;
    }
    50% {
        color: #eee;
    }
}


}

}
