*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #303030;
  font-family: 'Roboto', 'Noto', sans-serif;
}
html {
  min-height: 100%;
}
body {
  background-color: #dddddd;
  background-repeat: repeat;
  margin: 0;
  text-align:center;
  min-height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
  color: black;
}
h1 {
  color: #eeeeee;
  font-weight: 300;

}
h2 {
  font-weight: 300;
}
p {
  font-weight: 400;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
  max-width: 1280px;
  margin: auto;
}
.flex-col {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  max-width: 1280px;
  margin: auto;
}
.circle-img img {
    border-radius: 50%;
}
.card {
  padding: 20px;
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 4px 4px rgba(0,0,0,0.12), 0 5px 7px rgba(0,0,0,0.24);
  transition: all 0.5s cubic-bezier(.25,.8,.25,1);
  font-size: 1.05em;
  width: 97%;
  margin: 20px 0;
}
.card-top{
  margin-top: -20px;
}
.card h2 {
  font-size: 1.75em;
}
.card-3 {
    width: 31%;
    margin-top: -20px;
    margin-bottom: 60px;
}
.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.card:hover h2 {
  color: #2196f3;
}
.vertical-center {
  width: 100%;
}
.header {
  background-color: #2196f3;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.logo {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.logo img{
  width: 100px;
  height: auto;
  max-height: 100px;
  margin-bottom: 10px;

}
.back-btn {
  position: absolute;
  top: 0;
  left: 0;
}

/*small screens*/
@media all and (max-width: 800px) {
  body {
    height:auto;
  }
  .flex-row{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card-3 {
    width: 98%;
    margin-top: -20px;
    margin-bottom: 30px;
  }
  .card {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  .card:hover {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
}
/*small height*/
@media (max-height: 600px){
  body {
    height: auto;
  }
}
